body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

main {
	background: linear-gradient(to right bottom, #53adb3, #2fac72);
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Source Code Pro', monospace;
}

.circle1,
.circle2,
.circle3 {
	filter: blur(0.6rem);
	position: absolute;
	border-radius: 50%;
	background: linear-gradient(to left bottom, rgba(237, 246, 249, 0.461), rgba(131, 197, 191, 0.529));
}

.circle1 {
	top: 12%;
	left: 5%;
	z-index: 0;
	height: 300px;
	width: 300px;
}
.circle2 {
	height: 150px;
	width: 150px;
	z-index: 0;
	top: 60%;
	left: 70%;
	background: linear-gradient(to left bottom, rgba(237, 246, 249, 0.666), rgba(131, 197, 191, 0.529));
}
.circle3 {
	height: 200px;
	width: 200px;
	z-index: 0;
	top: -7%;
	left: 85%;
}

.panel {
	width: 75%;
	min-width: 1070px;
	min-height: 85vh;
	background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.3));
	border-radius: 1.5rem;
	z-index: 3;
	display: flex;
	min-width: fit-content;
}
.panelleft {
	flex: 1;
	min-height: 80vh;
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
	border-radius: 1.5rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.personalia {
	margin: 2rem;
	margin-bottom: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.personalia img {
	width: 150px;
	height: 150px;
	object-fit: fill;
	border-radius: 50%;
}
.personalia h2 {
	white-space: nowrap;
	font-size: 2rem;
	font-weight: bold;
	margin-bottom: 0;
	color: #26465395;
	font-weight: 600;
}
.links,
.account {
	width: 80%;
	border-radius: 1rem;
	/* padding: 1rem; */
	background: linear-gradient(to top right, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.2));
	box-shadow: 5px 5px 15px -6px rgba(155, 155, 155, 0.256);
	color: #26465395;
}
.links {
	font-size: 1.5rem;
	font-weight: 400;
}
.menuHeader {
	padding: 1rem;
	padding-bottom: 0;
	font-size: 1.9rem;
	text-align: center;
	font-weight: 600;
	color: #263c5595;
}
.links ul,
.account ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.links li {
	padding: 0.2rem 0rem;
	margin: 0.8rem 0 0.8rem 1rem;
	border-left: 2px solid #263c5500;
	transition: padding ease 0.5s, border ease 0.5s;
}
.links li:hover {
	padding-left: 1rem;
	border-left: 4px solid #263c5595;
	cursor: pointer;
}
.account {
	margin-bottom: 2rem;
}
.accountLinks {
	display: flex;
	justify-content: center;
}
.account img {
	width: 20px;
	height: 20px;
	margin-right: 1rem;
}
.account li:not(:last-child) {
	margin-bottom: 0.5rem;
	/* padding: 0; */
}
.account ul {
	padding: 1rem;
}
.accountHeader {
	padding: 1rem;
	padding-bottom: 0;
	font-size: 1.9rem;
	text-align: center;
	font-weight: 600;
	color: #263c5595;
}

/* MAIN PANEL */
.panelright {
	flex: 2;
	min-width: 700px;
	display: flex;
	flex-direction: column;
}
.panelright h1 {
	white-space: nowrap;
	font-size: 2.5rem;
	font-weight: bold;
	margin: 1.5rem 0 1rem 2rem;
	color: #355665c6;
	font-weight: 600;
}
.panelright header {
	margin: 0 1rem;
}
.card {
	border-radius: 1rem;
	background: linear-gradient(to top right, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.2));
	box-shadow: 5px 5px 15px -6px rgba(155, 155, 155, 0.256);
	color: #26465395;
	display: flex;
	margin: 1rem 1rem;
	max-height: 214px;
	min-width: 600px;
	transition: transform ease 0.2s;
}
.card:hover {
	transform: translateY(-5px);
	transform: scale(1.01);
	cursor: pointer;
}
.card img {
	width: 200px;
	height: 200px;
	border-radius: 1rem;
	margin: 0.4rem;
}
.cardInfo {
	margin: 0 0.5rem 0 2rem;
	overflow: auto;
}
.cardInfo::-webkit-scrollbar {
	display: none;
}
.buttons {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.buttons button {
	margin: 0.6rem 0.8rem;
	padding: 0.4rem 0.8rem;
	font-size: 1rem;
	border: none;
	border-radius: 0.2rem;
	color: #2fac72;
	background-color: rgba(255, 255, 255, 0.714);
}

/* Footer credit */
.credit {
	position: absolute;
	top: 95%;
	left: 45%;
	color: rgba(220, 220, 220, 0.591);
	font-family: 'Source Code Pro', monospace;
}
.credit a {
	color: rgba(220, 220, 220, 0.776);
}
