body {
  width: 80%;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  border-bottom: 2px solid #f1f1f1;
  align-items: center;
}
header h1 {
  text-transform: uppercase;
  font-size: 1.5em;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  letter-spacing: 0.4em;
  display: inline;
  width: 80%;
}
header a {
  color: #1e1e1e;
  text-decoration: none;
  font-family: Roboto, sans-serif;
  font-weight: 100;
}
header img {
  display: inline;
  height: 2em;
}

nav {
  font-family: Ubuntu, sans-serif;
  font-weight: 300;
  font-size: 1.1em;
  letter-spacing: 0.1em;
}
nav ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style-type: none;
  padding-left: 0px;
}
nav ul a {
  color: #1e1e1e;
  text-decoration: none;
}
nav ul li {
  transition: transform 0.3s, border-bottom 2s;
  word-wrap: none;
}
nav ul li:first-child {
  margin-left: 2em;
}
nav ul li:last-child {
  margin-right: 2em;
}
nav ul li:hover {
  transform: scale(1.15);
  color: black;
  cursor: pointer;
}
nav ul li:after {
  content: "";
  display: block;
  margin: auto;
  margin-top: 2px;
  height: 2px;
  width: 0px;
  background: transparent;
  transition: width 0.3s ease, background-color 0.3s ease;
}
nav ul li:hover:after {
  width: 100%;
  background: #636363;
}
@media screen and (max-width: 700px) {
  nav ul {
    flex-direction: column;
    align-items: flex-start;
  }
  nav ul li {
    margin-top: 0.5em;
  }
  nav ul li:first-child {
    margin-left: 0px;
  }
}

main section {
  width: 90%;
  margin: 3em auto 5em auto;
  font-family: Roboto, sans-serif;
  font-weight: 100;
}
main section a {
  color: black;
  font-weight: 300;
  cursor: pointer;
  text-decoration: none;
}
main section div.center {
  text-align: center;
}
main section div.center a.login {
  font-size: 0.8em;
  font-weight: 100;
}
main section .panorama {
  max-width: 100%;
  padding: 1px;
  border: 1px solid #464646;
}
main section .panorama-container {
  text-align: center;
}
main section table {
  margin: 0 auto;
}
main section table td:nth-of-type(2n) {
  padding-left: 5em;
  text-align: right;
}
main section table input {
  width: 50%;
  border: none;
  border-bottom: 1px solid #464646;
  text-align: right;
}
main section table textarea {
  border: 1px solid #464646;
  border-radius: 0.3em;
  padding: 0.5em;
}
main section #todolist {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main section #inputfield {
  display: flex;
  justify-content: center;
}
main section .todo-row {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 40%;
  border-bottom: 0.1em solid #f1f1f1;
  padding: 0.3em 0;
  overflow: hidden;
}
main section .todo-row .todo-bullet, main section .todo-row .todo-delete {
  padding: 0 0.5em;
}
main section .todo-row .todo-bullet input, main section .todo-row .todo-delete input {
  margin: 0;
  transform: scale(1.5);
}
main section .todo-row .checked {
  text-decoration: line-through;
}
main section .todo-row .todo-delete {
  text-align: center;
  position: relative;
  cursor: pointer;
}
main section .todo-row .todo-delete:before {
  content: "x";
  color: white;
  position: absolute;
  left: 3px;
  top: 3px;
  display: block;
  margin: auto;
  height: 0.01em;
  width: 0.01em;
  background: transparent;
  transition: background-color 0.4s ease;
  border-radius: 50%;
}
main section .todo-row .todo-delete:hover:before {
  width: 1.2em;
  height: 1.2em;
  background: #6b6b6b;
  border-radius: 50%;
}
main section .todo-row .todo-text, main section .todo-row .todo-input {
  padding: 0 1em;
  word-wrap: break-word;
  overflow: hidden;
  flex-grow: 2;
}
main section .todo-row .todo-text input, main section .todo-row .todo-input input {
  border: none;
  width: 100%;
}
main section input.login {
  height: 1.8em;
}
main section button {
  background: none;
  border: 0.1em solid #464646;
  padding: 0.5em 1em;
  border-radius: 0.2em;
  transition: background-color 0.2s, color 0.2s;
  text-transform: uppercase;
}
main section button:hover {
  background-color: #464646;
  color: white;
}
main section button.button-red {
  border: 0.1em solid #bb0000;
  color: #bb0000;
}
main section button.button-red:hover {
  background-color: #bb0000;
  color: white;
}
main section h2 {
  font-family: Roboto, sans-serif;
  font-weight: 100;
  text-align: center;
  border-bottom: 1.5px solid #f1f1f1;
  padding-left: 0.7em;
  padding-right: 0.5em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}

footer section {
  width: 90%;
  margin: 3em auto 5em auto;
  font-family: Roboto, sans-serif;
  font-weight: 100;
  text-align: right;
}
footer section a {
  color: #464646;
  cursor: pointer;
  text-decoration: none;
  text-transform: lowercase;
}
footer section h2 {
  font-family: Roboto, sans-serif;
  font-weight: 100;
  font-size: 1em;
  text-align: center;
  border-bottom: 1.5px solid #f1f1f1;
  padding-left: 0.7em;
  padding-right: 0.5em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}

.submit {
  text-align: right;
}

@keyframes show {
  0% {
    opacity: 0;
    top: 1px;
  }
  30% {
    opacity: 1;
  }
  40% {
    top: 30px;
  }
  60% {
    top: 30px;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 1px;
  }
}
.message {
  position: fixed;
  top: 0px;
  left: 40%;
  color: #3a3a3a;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  border: solid #3a3a3a 1px;
  box-shadow: 3px 3px 9px 1px #d3d3d3;
  border-radius: 5px;
  padding: 0.5em 1em;
  animation-name: show;
  animation-play-state: running;
  animation-fill-mode: forwards;
  animation-duration: 5s;
}

@keyframes appear {
  0% {
    height: 0em;
    opacity: 0;
    padding: 0 0;
  }
  100% {
    height: 1.1em;
    opacity: 1;
    padding: 0.3em 0;
  }
}
@keyframes hide {
  0% {
    height: 1.1em;
    opacity: 1;
    padding: 0.3em 0;
  }
  100% {
    height: 0em;
    padding: 0 0;
    opacity: 0;
  }
}
.appear {
  animation-name: appear;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  animation-play-state: running;
}

.hide {
  animation-name: hide;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  animation-play-state: running;
}

/*# sourceMappingURL=stylesheet.css.map */
